{% extends 'base.html' %}

{% block title %}{{ object.title }} Anime | Watch {{ object.title }} anime online in high quality{% endblock %}

{% block extra_meta_head_tags %}
    <meta name="description" content="Watch online and download {{ object.title }} anime in high quality. Various formats from 240p to 720p HD (or even 1080p)."/>
    <meta name="keywords" content="{{ object.title }}, {{ object.title }} anime, watch {{ object.title }} anime, {{ object.title }} watch online, watch {{ object.title }}, {{ object.title }} anime watch, {{ object.title }} anime online, watch {{ object.title }} online, {{ object.title }} watch, {{ object.title }} html5, {{ object.title }} english sub, download {{ object.title }} anime, watch {{ object.title }} high quality, {{ object.title }} streaming, {{ object.title }} mobile episode"/>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 mt-5">
                    <img src="{{ object.image.url }}" alt="" class="img-fluid img-style">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item border-0 pl-2 pr-2" style="background-color: #171717;">Status: {{ object.status }}</li>
                        <li class="list-group-item border-0 pl-2 pr-2" style="background-color: #171717;">{{ object.aired }}</li>
                        <li class="list-group-item border-0 pl-2 pr-2" style="background-color: #171717;">Views: {{ object.get_views }}</li>
                    </ul>
                    <p class="pl-2 pr-2">Genre:<br>
                        {% for item in object.genre.all %}
                            <a href="{% url 'anime:directory' cat=item.name %}"><span
                                    class="badge badge-primary">{{ item.name }}</span></a>
                        {% endfor %}
                    </p>
                </div>
                <div class="col-md-8 mt-3">
                    <h1 class="display-4 pb-3">{{ object.title }}</h1>
                    <p class="lead">{{ object.description }}</p>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col">
                    <div class="card" style="background-color: #171717; border: 1px solid grey;">
                        <div class="card-header alert alert-warning" style="background-color: darkgoldenrod; color: #fff;">
                            <p class="h4" style="text-align: center; text-transform: uppercase">Episode List</p>
                        </div>
                        <div class="card-body" style="background-color: #171717;">
                            <ul class="list-group list-group-flush">
                                {% for episode in object.episode_set.all %}
                                    <li class="list-group-item" style="background-color: #171717;">
                                        <a href="{{ episode.get_absolute_url }}">{{ episode.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            Sidebar
        </div>
    </div>
{% endblock %}