{# <!-- Footer -->
<footer class="page-footer font-small dark pt-5 mt-5">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Animebase</h5>
                <p>Animebase - Watch your favorite Anime for free online in high quality.KissAnime Free download high quality from 480p to 1080p </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Navigation</h5>

                <ul class="list-unstyled">
                    <li><a href="{% url 'anime:list' %}">Home</a></li>
                    <li><a href="{% url 'anime:latest' %}">Latest</a></li>
                    <li><a href="{% url 'anime:directory' cat='Romance' %}">Directory</a></li>
                    <li><a href="#">Random Anime</a></li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Services</h5>

                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">DMCA</a></li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 dark-footer">© 2018 Copyright:
        <a href="#" class="gold_link"> Animebase.in</a> | All Rights Reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer --> #}